# API KEY de Geminis
GOOGLE_GEMINIS_API_KEY = "tu_api_key_aqui"

# Configura tu nombre y tu RTN que aparece en las facturas
# Con esto geminis identifica si la factura es de ingresos o gastos
RTN_PRINCIPAL = "Tu_RTN_aqui"
NOMBRE_PRINCIPAL = "Tu_Nombre_aqui"