# API KEY de Geminis: https://aistudio.google.com/
GOOGLE_GEMINIS_API_KEY = "tu_api_key_aqui"

# Su API Key para obtener la tasa de conversion de dolares a lempiras, del banco central de honduras
# https://bchapi-am.developer.azure-api.net/, el portal te da dos API KEY
BCH_API_KEY_1="Tu_API_KEY_aqui"
BCH_API_KEY_2="Tu_API_KEY_aqui"


# Configura tu nombre y tu RTN que aparece en las facturas
# Con esto geminis identifica si la factura es de ingresos o gastos
RTN_PRINCIPAL = "Tu_RTN_aqui"
NOMBRE_PRINCIPAL = "Tu_Nombre_aqui"