# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/

# IDE settings
.idea/
.vscode

# Environment variables
.env

# Carpetas no tiene que dar seguimiento
# Ignorar contenido de las carpetas
logs/**
src/cache/**


# Ignorar todo dentro de facturas excepto .gitkeep
facturas/**
!facturas/
!facturas/.gitkeep
!facturas/*/
!facturas/*/.gitkeep

README.html

.installed
